/* TODO check shadows */
:root {
  --font-color: #222222;
  --pourple-main: #962765;
  --blue-light: #76ADC5;
  --green-01: #098E1B;

  --grey-lighter: #F1F1F1;
  --grey-light: #D9D9D9;
  --grey-mid: #AAAAAA;
  --grey-darker: #5B5B5B;

  --pink-light: #F7CCD0;
  --pink-lighter: #FBE8E9;

  --gradiant-start: #551D5D;
  --gradiant-end: #932765;
}

/* utils */
* {
  /* ive stopped using this rules, but im feeling its necesary while working with vanilla HTML & CSS */
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.bold {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

.dot {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block; 
  height: 10px;
  width: 10px;
}

body {
  color: var(--font-color);
  /* 14px */
  font-size: 0.9rem;
  padding: 5rem;
}

/* component */
.component-frame {
  gap: 40px;

  .breadcrumb {
    align-items: center;
    box-shadow: 0px 0px 6px 0px #00000030;
    color: var(--grey-light);
    gap: 14.6px;
    height: 46px;
    justify-content: flex-start;
    width: 100%;

    span:last-child {
      font-weight: bold;
    }
  }

  .shop-item {
    box-shadow: 4px 4px 6px 0px #00000030;
    gap: 20px;
    justify-content: space-between;
    padding-left: 10px;
    width: 100%;

    /* gallery */
    .gallery-frame {
      gap: 5px;

      .icons-wrapper {
        gap: 20px;
        justify-content: center;
        padding-left: 5px;

        .xs-gallery {
          gap: 10px;

          .select-dots {
            align-items: center;
            justify-content: center;
            gap: 10px;

            .dot.active {
              background-color: var(--grey-darker);
            }
          }

          .select-img {

            img {
              width: 50px;

              &.active {
                border: solid 1px var(--pourple-main);
              }
            }
          }
        }
      }
    }

    /* description */
    .item-description {
      justify-content: space-between;
      padding: 20px;

      .description-header {

        .description-title {
          font-size: 28px;
        }
        
        .ref {
          color: var(--grey-mid);
        }
        
        .stars img {
          height: 14.39px;
          width: 14.42px;
        }
      }

      .description-body {
        justify-content: space-evenly;
        height: 100%;
        
        span.dot {
          background-color: var(--blue-light);
          height: 9px;
          width: 9px;
        }
      }
    }
    /* buying */
  }
}
