/* TODO check shadows */
:root {
  --font-color: #222222;
  --pourple-main: #962765;
  --blue-light: #76ADC5;
  --green-01: #098E1B;

  --grey-lighter: #F1F1F1;
  --grey-light: #D9D9D9;
  --grey-darker: #5B5B5B;

  --pink-light: #F7CCD0;
  --pink-lighter: #FBE8E9;

  --disabled-color: #AAAAAA;
  --gradiant-start: #551D5D;
  --gradiant-end: #932765;
}


* {
  /* ive stopped using this rules, but im feeling its necesary while working with vanilla HTML & CSS */
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}

body {
  color: var(--font-color);
  /* 14px */
  font-size: 0.9rem;
  padding: 5rem;
}

.breadcrumb {
  align-items: center;
  box-shadow: 0px 0px 6px 0px #00000030;
  color: var(--grey-light);
  display: flex;
  gap: 14.6px;
  height: 46px;
  justify-content: flex-start;
  width: 100%;

  span:last-child {
    font-weight: bold;
  }
}